<section class="resume-section p-3 px-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Hassan
      <span class="text-primary">Ali</span>
    </h1>
    <div class="subheading mb-4">Johar Town, LAHORE · (092) 3093122220 ·
      <a href="mailto:haxxanali512@gmail.com" style="color: #066c14 !important" target="_blank">haxxanali512@gmail.com</a>
    </div>
    <hr>
    <br>
    <p class="lead mb-2">
Creative Developer with proficiency in monitoring software performance tests and revising programs for corrections. First-rate critical thinking and organizational skills. Excellent understanding of basic development principles and programming for diverse operating systems. <br><br>
    </p>

    <p class="lead mb-2">
      <b>Some of the technologies I have experience in</b><br><br>
      - Ruby 2 & 3, Rails 5, 6 & 7<br>
      - SQL (Sqlite, Mysql, Postgresql)<br>
      - NOSQL (MongoDB, Firebase, Redis)<br>
      - Mobile Development (React Native)<br>
      - AWS, Digital Ocean, Heroku<br>
      - Background Jobs, Caching<br>
      - Facebook/Google/VK API<br>
      - oAuth 2.0<br>
      - Stripe, Authorize.net<br>
      - Twilio<br>
      - Building REST API's<br>
      - CSS / CSS3 / SCSS <br>
      - Javascript, React.js<br>
      - Bootstrap, TailwindCSS, Material UI<br>
      - Elasticsearch/Searchkick<br>
      - Git & Github<br>
      - Jekyll, liquid <br>
      - TDD (Rspec, Selenium, watir)<br>
      - Testing with RSpec<br>
      - Authentication and authorization with Devise, JWT and Pundit<br>

    </p><br>
    <div class="social-icons">
      <a class="social-icon" href="https://www.linkedin.com/in/haxxan-ali/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" href="https://github.com/haxxanali512" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Work Experience</h2>


    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" id="experience/plan9">
      <div class="resume-content">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">Sizdom Technologies (<span class="text-primary" style="top: 10">MAR 2019 - JUL 2021</span>)</div>
        <div class="company_intro">
          <i>
            <a href="https://sizdom.com" target="_blank"  style="color: #066c14">Sizdom</a> is developed to in gujranwala to provide servcices
            to local as well as
            international clients. The primary focus of this company is to maximize the usage of technology. It is
            founded in 2014 and providing services till date.
          </i></div>
        <p>
          <br>
          I joined Sizdom as a PHP Laravel developer
          <a href="https://www.facebook.com/SizdomTechnologies/" target="_blank" style="color: #066c14">Sizdom Technologies</a>.
          <br><br>My main responsibility in SizdomTechnologies were
          <br>1 - Create Api's for mobile applications <br>
          2 - Manage servers for load balancing<br>
          3 - Managing Frontend side with React<br>
          3 - Manage operations for external services and aws integrations
        </p>
      </div>
      </div>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between w-60" id="experience/testalio"></div>
      <div class="resume-content">
        <h3 class="mb-0">Software Engineer</h3>
        <div class="subheading mb-3">Aldaim Solutions (<span class="text-primary">AUG 2021 - MAR 2022</span>)</div>
        <div class="company_intro">
          <i>
            <a href="https://aldaimsolutions.com" target="_blank" style="color: #066c14">Aldaim Solutions</a> is a rapidly growing IT services
            provider in international market.<br>
            They provide quality and reliable IT solutions; combination of real-time analytics,
            data integration and process in a comprehensive way enables our customers to drive their business
            with maximum operational efficiency and customized systems for making smarter decisions for better services.
          </i>
        </div>
        <p><br>
          I joined Aldaim solutions as a Software Engineer <br><br>I got chance to work on following tools and
          technologies
          <br> Ruby, Ruby on Rails
          <br> Sidekiq
          <br> Mysql, Postgresql
        </p>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between" id="experience/testalio">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer</h3>
          <div class="subheading mb-3">Recurso Labs (<span class="text-primary">MAR 2022 - Till date</span>)</div>
          <div class="company_intro">
            <i>
              <a href="https://recursolabs.com" target="_blank" style="color: #066c14">Recurso Labs</a> is a rapidly growing IT services
              provider in international market.
              A multipurpose software firm existing to make your dreams work. We provide performance oriented quality
              solutions for all your software
              needs. Building applications from scratch to maintaining your existing code, from providing exceptional
              resources
              for your business needs to owning the product and creating a difference in market, we are one stop shop
              for all
              your digital needs. We are here to craft your digital dreams into reality.
            </i></div>
          <p><br>
            I joined Recurso Labs as a Software Engineer and leanred alot <br><br>I got chance to work on following
            tools and technologies
            <br> Project management as a lead
            <br> Advance usage of ruby on rails and React JS, Turbo, Hotwire
            <br> Sidekiq, Resque, Redis, grafana
            <br> Mysql, Postgresql, clickhouse, s3, openstack, mongodb, elastic search, search kick
          </p>
        </div>
      </div>
    </div>

</section>

<hr class="m-0">
<hr class="m-0">


<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
  <div class="w-100">
    <h2 class="mb-5 text-center">Projects</h2>
    <h5 class="ms-5 text-center">Among the projects on which I've worked are the following:-</h5>
    <hr class="mx-5">

    <div class="resume-item d-flex flex-column p-3 ps-5 flex-md-row justify-content-between project-1" id="projects/emp-portal">
      <div class="resume-content">
        <h3 class="mb-0 mt-3">Seam & Stitch</h3>
        <div class="subheading mb-3">
          Multi Vendor E-Commerace Market Place
        </div>
        <div class="company_intro">
          <i>
              Seam & Stitch was an E-Commerace app that was developed<br>
              using Ruby on Rails, react js and React Native. My role was<br>
              creating APIs to priovide full support the frontend team.
              </a>
          </i></div>
      </div>

      <div class="resume-content">
        <h3 class="mb-0 mt-3">Sell It Mobile App</h3>
        <div class="subheading mb-3">
           Clone of OLX with enhanced features
        </div>
        <div class="company_intro">
          <i>
          Sell It is a social app with features of OLX. User can send<br>
          messages share pictures videos and also share the<br> ads
          just like facebook market place. My role was backend<br>
          dev and maintaining database
          </i></div>
      </div>


    </div>
      <div class="resume-item d-flex flex-column p-3 ps-5 flex-md-row justify-content-between project-1" id="projects/emp-portal">
      <div class="resume-content">
        <h3 class="mb-0 mt-3">Wssal delivery app</h3>
        <div class="subheading mb-3">
          Delivery app similar to Moody.pk
        </div>
        <div class="company_intro">
          <i>
              Worked as a backend developer in app for USA based<br> client
              Worked with FE team to provide support in react<br> native
              and created APIs and managed the backend as single<br> developer.
              </a>
          </i></div>
      </div>

      <div class="resume-content">
        <h3 class="mb-0 mt-3">DebtReport</h3>
        <div class="subheading mb-3">
        Debt calculator app for UK taxes
        </div>
        <div class="company_intro">
          <i>
          Worked as a full stack developer in creating and maint-<br>
          -aining the tax calculator app for UK based client. Used<br>
          third party APIs/Lead generators to achieve the workflow<br>
          </i></div>
      </div>


    </div>

     <div class="resume-item d-flex flex-column p-3 ps-5 flex-md-row justify-content-between project-1" id="projects/emp-portal">
      <div class="resume-content">
        <h3 class="mb-0 mt-3">Salty cove</h3>
        <div class="subheading mb-3">
          Dynamic Personal portfolio for a photgrapher
        </div>
        <div class="company_intro">
          <i>
              Worked as a full stack developer to achieve the requirm-<br>
              -ents of client. Maintained the additional APIs to showcase<br>
              photos and managed the database and s3 for storage purposes.
              </a>
          </i></div>
      </div>

      <div class="resume-content">
        <h3 class="mb-0 mt-3">MMDeals</h3>
        <div class="subheading mb-3">
        Generating leads for deals
        </div>
        <div class="company_intro">
          <i>
          Worked as a full stack developer for UK based client to<br>
          present the deals by using the third party APIs through<br>
          javascript. And maintained the web as whole<br>
          </i></div>
      </div>


    </div>
    </div>

    <br><br>

</section>
<hr class="m-0">


<section class="resume-section p-3 px-lg-5 pt-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5 text-center">Education</h2>
    <hr class="mx-5">

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between p-5" id="education/bs_software_engineering">
      <div class="resume-content">
        <h3 class="mb-0">GIFT university, Gujranwala</h3>
        <div class="subheading mb-3">Bachelors in Software Engineering</div>
        <p>CGPA: 3.22</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><b>SEP 2017 - OCT 2021</b></span>
      </div>
    </div>

    <br id="education/ics_computer_sciences"><br>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between p-5">
      <div class="resume-content">
        <h3 class="mb-0">Superior Group of Colleges, AliPur Chattha</h3>
        <div class="subheading mb-3">F.SC PRE ENGINEERING</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><b>Nov 2015 - March 2017</b></span>
      </div>
    </div>

    <br id="education/matriculation"><br>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between p-5">
      <div class="resume-content">
        <h3 class="mb-0">Hussain High School AliPur Chattha</h3>
        <div class="subheading mb-3">Computer Science</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><b>Nov 2013 - Nov 2015</b></span>
      </div>
    </div>

  </div>
</section>
<hr class="m-0">
