<div class="tree" style="padding-top: 4%; padding-right: 25%">
  <ul>
    <li>
      <h3 style="font-weight: 400;" class="flowchart-heading"><b>Hi There, Welcome to My Profile 👋</b></h3>
      <blockquote class="ms-lg-2 mb-3">Last Updated on: July 1, 2022</blockquote>

      <a href="/profile" style="font-size: 20px;">Hassan Ali</a>
      <ul>
        <li>
          <a href="https://en.wikipedia.org/wiki/Lahore" target="_blank">Lives in</a>
          <ul>
            <li>
              <a href="https://en.wikipedia.org/wiki/Lahore" target="_blank">Lahore</a>
              <ul>
                <li>
                  <a href="https://en.wikipedia.org/wiki/punjab" target="_blank">Punjab </a>
                  <ul>
                    <li>
                      <a href="https://en.wikipedia.org/wiki/Pakistan" target="_blank"> Pakistan </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="/profile#projects">Projects</a>
          <ul>
            <li>
              <a href="#">Seam & Stitch</a>
              <ul>
                <li>
                  <a href="#">Sell It Mobile App</a>
                  <ul>
                    <li>
                      <a href="#">Wssal delivery app</a>
                      <ul>
                        <li>
                          <a href="#">DebtReport</a>
                           <ul>
                             <li>
                                <a href="/profile#projects/emp-portal">Salty Cove</a>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="/profile#experience">Work Experience</a>
          <ul>
            <li>
              <a href="/profile#experience/desmandsphere">Sizdom Technologies (Software Engineer)</a>
              <ul>
                <li>
                  <a href="/profile#experience/techhive">Aldaim Solution (Software Engineer)</a>
                  <ul>
                    <li>
                      <a href="/profile#experience/plan9">Recurso Labs (Software Engineer)</a>
                      <!--                      <ul>-->
                      <!--                        <li>-->
                      <!--                          <a href="/profile#experience/testalio">Ruby Thunders</a>-->
                      <!--                        </li>-->
                      <!--                      </ul>-->
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!--        <li>-->
        <!--          <a>Achievements</a>-->
        <!--          <ul>-->
        <!--            <li>-->
        <!--              <a href="/profile#awards">-->
        <!--                Programming Guru 2015-->
        <!--              </a>-->

        <!--              <ul>-->
        <!--                <li>-->
        <!--                  <a href="/profile#awards">-->
        <!--                    DCS - 2016-->
        <!--                  </a>-->
        <!--                  <ul>-->
        <!--                    <li>-->
        <!--                      <a href="/profile#awards">-->
        <!--                        AMP - 2016-->
        <!--                      </a>-->
        <!--                      <ul>-->
        <!--                        <li>-->
        <!--                          <a href="/profile#awards">-->
        <!--                            BPMN AA - 2015-->
        <!--                          </a>-->
        <!--                        </li>-->
        <!--                      </ul>-->
        <!--                    </li>-->
        <!--                  </ul>-->
        <!--                </li>-->
        <!--              </ul>-->

        <!--            </li>-->
        <!--          </ul>-->
        <!--        </li>-->

        <li>
          <a href="/profile#education">Education</a>
          <ul>
            <li>
              <!--              <a href="/profile#education/ms_computer_science">-->
              <!--                MS Computer Sciences-->
              <!--              </a>-->
              <ul>
                <li>
                  <a href="/profile#education/bs_software_engineering">
                    BS Software Engineering
                  </a>
                  <ul>
                    <li>
                      <a href="/profile#education/ics_computer_sciences">
                        F.sc Pre Engineering
                      </a>
                      <ul>
                        <li>
                          <a href="/profile#education/matriculation">
                            Matriculation
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="/profile#contact">Contact Me On</a>
          <ul>
            <li>
              <a href="https://wa.me/923093122220">Whatsaap</a>
              <ul>
                <li>
                  <a href="https://github.com/haxxanali512">Github</a>
                  <ul>
                    <li>
                      <a href="https://www.linkedin.com/in/haxxan-ali/">LinkedIn</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
